.ipynb_checkpoints
**/Asset_Pricing_HW_2_data.RData
**/F-F_Research_Data_Factors_daily.zip
**/F-F_Research_Data_Factors_daily.txt
**/F-F_Research_Data_Factors.zip
**/F-F_Research_Data_Factors.txt
**/F-F_Momentum_Factor.zip
**/F-F_Momentum_Factor.txt
**/Illiquidity_Factor.txt